*.o
*.lo
*.la
*.edj
*.swp
*.eet
*~
.*
*.eo.*
*.sed
*.sin

Enventor.h

enventor
enventorql
Makefile.in.in
Makefile.in
Makefile

compile
aclocal.m4
autom4te.cache
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
enventor.pc
!m4/efl_attribute.m4
!m4/efl_binary.m4
!m4/elm_quicklaunch.m4
!m4/efl_beta.m4
!m4/efl_eo.m4
m4/*
po/Makevars.template
po/POTFILES
po/Rules-quot
po/en@boldquot.header
po/en@quot.header
po/stamp-po
intl/
config.rpath
missing
src/bin/.deps/
src/bin/.libs/
stamp-h1
.project
.cproject
