[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enventor
Comment=Enlightenment EDC Editor
Comment[fr]=Éditeur de fichiers EDC
Comment[it]=Editor per i file EDC di Enlightenment
Comment[ru]=Редактор EDC-файлов
Icon=enventor
Exec=enventor
Terminal=false
#MimeType=text/edc
Categories=Development;Utility;
